* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

.app {
  height: 100vh;
  background-color: #004980;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  padding: 4.8rem;
  background-color: #c2f5ff;
  border-radius: 12px;
}

.start-form__title {
  max-width: 20.8rem;
  text-align: center;
  color: #004980;
  font-family: inherit;
  font-size: 4rem;
  line-height: 4.8rem;
}

.start-form__buttons {
  display: flex;
  gap: 2.4rem;
}

.form-button {
  height: 9.8rem;
  width: 9.8rem;
  color: #0080c1;
  background-color: #ffffff;
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-family: inherit;
  border-radius: 12px;
  border: none;
}

.start-form__start-button {
  padding: 8px 88px;
  font-family: inherit;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #ffffff;
  background-color: #7ac100;
  border-radius: 12px;
  border: none;
}
