* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  height: 100vh;
  background-color: #004980;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  max-width: 70rem;
}

.start-form,
.win-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  padding: 5.2rem 6.9rem 3.6rem;
  background-color: #c2f5ff;
  border-radius: 12px;
}

.title {
  max-width: 20.8rem;
  font-family: inherit;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.8rem;
  text-align: center;
  color: #004980;
}

.start-form__buttons {
  display: flex;
  gap: 2.4rem;
}

.form-button {
  height: 9.8rem;
  width: 9.8rem;
  color: #0080c1;
  background-color: #fff;
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.button-onclick {
  border: 3px solid #0080c1;
}

.start-button {
  width: 24.6rem;
  padding: 8px;
  font-family: inherit;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fff;
  background-color: #7ac100;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.hidden {
  opacity: 0;
}

.error-text {
  margin: 8px;
  font-size: 1.4rem;
  text-align: center;
  color: red;
}

.temporary {
  padding: 1rem 2rem;
  font-size: 2.4rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50rem;
  cursor: pointer;
}

/* game */

.header {
  width: 70rem;
  margin-bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-in-game {
  color: #fff;
}

.timer {
  position: relative;
  font-size: 6.4rem;
  line-height: 7.2rem;
}

.timer::before {
  content: 'min';
  position: absolute;
  top: -16px;
  left: 40px;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.timer::after {
  content: 'sek';
  position: absolute;
  top: -16px;
  right: 5px;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.cards-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  perspective: 1000px;
}

.card {
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.3s;
}

.back-img {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  backface-visibility: hidden;
}

.visible {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.is-flipped {
  transform: rotateY(180deg);
}

/* win */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 66, 115, 0.5);

  /* backdrop-filter: blur(1px); */
  z-index: 5;
}

.win-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 11rem 4.8rem;
  gap: 0;
  color: #004273;
  z-index: 10;
}

.win-form__title {
  max-width: max-content;
  margin-bottom: 3rem;
}

.win-form__img {
  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 5px;
}

.win-form__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 1rem;
}

.win-form__time {
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 4rem;
}
