* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  height: 100vh;
  background-color: #004980;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  max-width: 70rem;
}

.start-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  padding: 4.8rem 5.2rem 3.6rem;
  background-color: #c2f5ff;
  border-radius: 12px;
}

.start-form__title {
  max-width: 20.8rem;
  text-align: center;
  color: #004980;
  font-family: inherit;
  font-size: 4rem;
  line-height: 4.8rem;
}

.start-form__buttons {
  display: flex;
  gap: 2.4rem;
}

.form-button {
  height: 9.8rem;
  width: 9.8rem;
  color: #0080c1;
  background-color: #ffffff;
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.button-onclick {
  border: 3px solid #0080c1;
}

.start-button {
  width: 24.6rem;
  padding: 8px;
  font-family: inherit;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #ffffff;
  background-color: #7ac100;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.hidden {
  opacity: 0;
}

.error-text {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
  color: red;
}

.temporary {
  padding: 1rem 2rem;
  font-size: 2.4rem;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50rem;
  cursor: pointer;
}

/*********************************************/

.header {
  width: 70rem;
  margin-bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-in-game {
  color: #ffffff;
}

.timer {
  position: relative;
  font-size: 6.4rem;
  line-height: 7.2rem;
}

.timer::before {
  content: 'min';
  position: absolute;
  top: -16px;
  left: 40px;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.timer::after {
  content: 'sek';
  position: absolute;
  top: -16px;
  right: 5px;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.cards-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  perspective: 1000px;
}

.card {
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.3s;
}

.back-img {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  backface-visibility: hidden;
}

.visible {
  opacity: 1;
}

.rotate {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}

.default {
  pointer-events: none;
}
